<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление нового проекта</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="form-container">
    <h2>Заполните данные проекта</h2>


    <form action="/projects/add" method="POST" th:object="${project}">
        <input class="search-input" type="text" id="name" th:field="*{name}" placeholder="Введите название проекта"
               required>
        <br><br>
        <textarea class="search-input" id="description" th:field="*{description}" placeholder="Введите описание проекта"
                  required></textarea>
        <br><br>
        <input class="search-input" type="date" id="createdDate" th:field="*{createdDate}" required>
        <br><br>
        <input class="button" type="submit" value="Добавить проект">
        <input type="button" value="Отмена" class="button" onclick="location.href='/projects/managment'"/>
    </form>
</div>
</body>
</html>