<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма добавления пользователя</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="form-container">
    <h2>Заполните данные пользователя</h2>
    <form action="/users/add" method="POST" th:object="${user}">
        <input class="search-input" type="text" id="user_name" th:field="*{userName}" placeholder="Введите имя пользователя" required>
        <br><br>
        <!-- <input class="search-input" type="password" id="password" th:field="*{password}" placeholder="Введите пароль" required>
        <br><br> -->
        <input class="search-input" type="email" id="email" th:field="*{email}" placeholder="Введите email" required>
        <br><br>
        <select class="search-input" id="role" th:field="*{role}" required>
            <option value="ROLE_ADMIN">Администратор</option>
            <option value="ROLE_MANAGER">Руководитель проекта</option>
            <option value="ROLE_USER">Пользователь</option>
        </select>
        <br><br>

        <input class="button" type="submit" value="Добавить пользователя">
        <input type="button" value="Отмена" class="button" onclick="location.href='/users/managment'" />
    </form>
</div>
</body>
</html>
