<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Форма редактирования пользователя</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="form-container">
    <h2>Редактирование пользователя</h2>
    <form id="editUserForm" th:object="${user}">
        <input class="search-input" type="text" id="user_name" th:field="*{userName}" placeholder="Введите имя пользователя" required>
        <br><br>
        <input class="search-input" type="email" id="email" th:field="*{email}" placeholder="Введите email" required>
        <br><br>
        <select class="search-input" id="role" th:field="*{role}" required>
            <option value="ROLE_ADMIN" th:selected="${user.role == 'ROLE_ADMIN'}">Администратор</option>
            <option value="ROLE_MANAGER" th:selected="${user.role == 'ROLE_MANAGER'}">Руководитель проекта</option>
            <option value="ROLE_USER" th:selected="${user.role == 'ROLE_USER'}">Пользователь</option>
        </select>
        <br><br>

        <input type="submit" class="button" value="Сохранить изменения">
        <input type="button" value="Отмена" class="button" onclick="location.href='/users/managment'" />
    </form>
</div>
<script th:inline="javascript">
    document.getElementById('editUserForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const userId = /*[[${user.id}]]*/;
        const userData = {
            userName: document.getElementById('user_name').value,
            email: document.getElementById('email').value,
            role: document.getElementById('role').value
        };

        fetch('/users/edit/' + userId, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(userData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка сети');
                }
                return response.json();
            })
            .then(data => {
                window.location.href = data.location; // Перенаправление на полученный URL
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Произошла ошибка при обновлении пользователя');
            });
    });
</script>
</body>
</html>
