<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список проектов, в которых участвует пользователь</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Список проектов, в которых участвует пользователь</h1>
<h2>Пользователь: <span th:text="${userName}"></span></h2>
<table>
    <thead>
    <tr>
        <th>Название проекта</th>
        <th>Описание проекта</th>
        <th>Время создания проекта</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.createdDate}"></td>
    </tr>
    </tbody>
</table>
<input type="button" value="Назад" class="button" onclick="location.href='/users/managment'"/>
</body>
</html>
